@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
  /* ---NAVIGATION --- */

  @media (hover: hover) {
    .nav-item:hover {
      cursor: pointer;
    }
  }

  @media (hover: hover) {
    .not-allowed:hover {
      cursor: not-allowed;
    }
  }

  /* ---HEADER--- */

  @media (hover: hover) {
    .main-page-cto:hover {
      cursor: pointer;
    }
  }

  /* ---OUR CREW SECTION--- */

  .our-crew-section {
    height: auto;
    background-color: #f1f1f1;
  }

  .our-crew-section-content {
    width: 960px;
    align-items: center;
  }

  .our-crew-section-content {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .our-crew-list-element {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .our-crew-list-element:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .list-element:nth-of-type(even) {
    text-align: end;
  }

  .crew-name {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
  }

  .crew-description {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
  }

  /* <!-- OFFER SECTION --> */

  .offer-tiles {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  @media (hover: hover) {
    .offer-tile:hover {
      cursor: pointer;
      transition: 0.5s linear;
      scale: 1.05;
    }
  }

  .orange-point {
    width: 20px;
    height: 20px;

    top: -10px;
    left: -10px;
  }
}
